@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(../libs/slick/slick-theme.css);
@import url(../libs/slick/slick.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.hidden {
    overflow: hidden;
}

@import './header';
@import './home';
@import './types';
@import './works';
@import './teams';
@import './hope';
@import './footer';
@import './office';
@import './carusel';
@import './modal';
@import './media';